<launch>

    <env name="GAZEBO_MODEL_PATH"
        value="${GAZEBO_MODEL_PATH}:$(find ped_simulation)/media/models" />
    <env name="GAZEBO_RESOURCE_PATH"
        value="${GAZEBO_RESOURCE_PATH}:$(find ped_simulation)/media/models" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ped_simulation)/worlds/cafe3.world" />
        <arg name="verbose" value="true" />
    </include>

</launch>