<?xml version='1.0' encoding='utf-8'?>
<launch>
	<include file="$(find ped_simulation)/launch/config.launch">
		<arg name="model" value="turtlebot3_waffle" />
		<arg name="x_pos" value="2.0" />
		<arg name="y_pos" value="0.0" />
		<arg name="z_pos" value="0.0" />
		<arg name="yaw" value="0.0" />
		<arg name="map" value="test_scene" />
		<arg name="rviz_file" value="sim_env.rviz" />
		<arg name="world" value="empty_with_pedestrians" />
	</include>
	<node name="pedestrian_tracker" output="screen" pkg="pedestrian_tracker" type="dr_spaam_ros.py">
		<param name="weight" value="$(find pedestrian_tracker)/weight/ckpt_jrdb_ann_drow3_e40.pth" />
		<param name="model" value="DROW3" />
	</node>
</launch>
